$primary: #ffa900;
$primary-variant-1: #e69900;
$primary-variant-2: #f7e6c4;
$primary-light-variant-1: rgb(255 170 0 / 30%);
$secondary: #000000;
$secondary-op-16: rgba(0, 0, 0, 0.16);
$secondary-op-20: rgb(0 0 0 / 20%);
$secondary-op-25: rgba(0, 0, 0, 0.25);
$light: #ffffff;
$light-variant-1: #fff8e9;
$light-variant-2: #fffaef;
$light-variant-3: #fff5de;
$light-op-2: rgba(255, 255, 255, 0.2);
$light-op-3: rgba(255, 255, 255, 0.3);
$grey-variant-1: #666666;
$grey-variant-2: #999999;
$grey-variant-3: #909090;
$grey-variant-4: #555555;
$grey-variant-5: #585858;
$grey-variant-6: #333333;
$grey-variant-7: #565656;
$grey-variant-8: #444444;
